@media (prefers-color-scheme:light) {
	:root{
		--text: #474747;
		--bg: #f7f7f7;
	}
}
@media (prefers-color-scheme: dark) {
	:root{
		--text: #dddddd;
		--bg: #333333;
	}
}
body{
	margin:0;
	padding:0;
	font-family: "Source Sans Pro",sans-serif;
	background-color: var(--bg);
	color: var(--text);
}
